settings.json

**/.git
**/*.git
.gitignore
.DS_Store

tmp/*
cache/*
logs/*

**/*.pyc
**/__pycache__

**/*.DS_Store
**/*.edgerc

Dockerfile
*.Dockerfile
build-*

README.md
.vscode
.dockerignore
build.sh

.coverage
